// Size
$max-width: {{ .Param "style.pageWidth" | default "750px;" }};

// Colors 
$bg: {{ .Param "style.colorBG" | default "#282a36" }};
$fg: {{ .Param "style.colorFG" | default "#f8f8f2" }};
$hr: {{ .Param "style.colorHR" | default "#44475a" }};
$body: {{ .Param "style.colorBODY" | default "#26233a"}};

$header: #6272a4;
$link: #6272a4;
$linkHover: #bd93f9;
$linkDark: #908caa;

// Fonts 
$font-family: {{ .Param "style.fontFamily" | default "Inter" }};

// Margins
$y-small: 0.6rem;
$y-medium: 1.0rem;


// layouts
%link-default { 
    color: $link;
    text-decoration: none;
    & * {
        color: $link;
    }
    &:hover { 
        color: $linkHover;
        text-decoraction: underline;
    }
}
%link-dark { 
    color: $link;
    text-decoration: none;
    & * { 
        color: $link;
    }
    &:hover { 
        color: $linkHover;
        text-decoration: underline;
    }
}
%table-cell { 
    color: #f8f8f2;
    border: 2px solid #44475a;
    padding: 6px 12px;
    text-align: left;
}

body { 
    font-family: $font-family;
    background-color: $bg;
}

// Style 
* { 
    color: $fg;
    font-family: $font-family;
    line-height: 1.2;
}
hr {
    background-color: $hr;
    border-width:2px;
}

.container { 
    max-width: $max-width;
}
.navbar-brand { 
    @extend %link-dark;
    font-size: 1rem;
}
.nav-link { 
    @extend %link-default;
}
#content { 
    background-color: $bg;
    a { 
        @extend %link-default;
    }
    p { 
        background-color: $bg;
        margin-bottom: $y-small;
    }
    h1, h2, h3, h4, h5, h6 { 
        color: $header;
        background-color: $bg;
        font-size: small;
        font-weight: bold;
        margin: $y-medium 0 $y-small 0;
    }
    @for $i from 1 through 4 { 
        h#{$i} { 
            font-size: 1rem + 0.2 * (4 - $i);
        }
    }
    img { 
        display: block;
        margin: $y-medium auto;
        max-width: 100%;
    }
    ol { 
        counter-reset: list;
        list-style: none;
        padding-left: 2rem;
        & > li { 
            display: table-row;
        }
        & > li:before { 
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
            display: table-cell;
            text-align: right;
            padding-right: .5em;
        }
    }
    .container > ol, .footnotes > ol { 
        background-color: $bg;
        padding-left: 0;
    }
    ul { 
        list-style: inside;
        padding-left: 2rem;
        & > li { 
            color: #ff5555;
            li {
                color: #f8f8f2;
            }
            list-style-position: outside;
            margin-left: 1em;
        }
    }
    .container > ul, .footnotes > ul { 
        padding-left: 0;
    }
    table { 
        margin: $y-medium auto;
        width: 100%;
        & th { 
            @extend %table-cell;
            font-weight: bold;
        }
        & td { 
            @extend %table-cell;
        }
        & tr:nth-child(2n) { 
            background-color: #44475a;
        }
    }
    blockquote { 
        border-left: 4px solid;
        font-style: italic;
        margin: $y-medium 0;
        padding: 8px 8px;
    }
    code { 
        color: $bg;
        background-color: $fg;
        border: 1px solid $fg;
        border-radius: 10%;
        padding: 1px 1px;
    }
    pre code { 
        all: unset;
    }
    .highlight { 
        margin: $y-medium auto;
        & > pre { 
            border: 1px solid #e0def4;
            padding: 1px 1px;
        }
    }
}

#footer { 
    a { 
        background-color: $bg; 
        @extend %link-dark;
    }
}
.breadcrumb { 
    list-style: none;
    display: flex;
    asign-items: baseline;
    background-color: $bg;
}

.breadcrumb li { 
    display: inline;
    white-space: nowrap;
}

.breadcrumb li + li:before {
    content: "->";
    padding: 0.3rem;
}
